{# This closes the """ string that holds the whole program code
  defined at the bottom of the input file. #}
{% if question is is_python_program %}
"""
{% endif %}

{% if testing %}
from unittest import TestCase

class myTests(TestCase):
{% else %}
from unittest.gui import TestCaseGui

class myTests(TestCaseGui):
{% endif %}

{% for testcase in question.testCases %}
  def test{{ loop.index }}(self):
    resetMyStdOut()
    setMyStdIn({{ testcase.stdInput.__repr__() }})
    {% if question is is_python_program %}
    exec(_program)
    {% else %}
    {{ testcase.testCode | indent }}
    {% endif %}
    self.assertEqual({{ testcase.expected.__repr__() }}, getMyStdOut())

{% endfor %}

myTests().main()
